.imageError{
    width: 500px;
    height: 300px;
    background: url("../../assets/image/ErrorMan.png") ;
}
a:hover img {
    opacity: 0;
}
a:hover{
    background: url("../../assets/image/hz3.png") no-repeat 50% 50% ;
}
.cnt {
    margin-top: 10%;
}